* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    background-color:midnightblue;
}

.title {
    text-align: center;
    font-size: 80px;
    color:whitesmoke;
    margin: 30px;
}
.square{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-weight: 700;
    font-size: 25px;
    background-color: rgb(0, 153, 255);
    margin: 10px;
}

.my-container{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

